* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
  url(https://cdn.wallpapersafari.com/79/35/CxBq7j.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

span {
  font-size: 22px;
  color: white;
}

img {
  height: 80%;
}

.square {
  /* grid-column: 1; */
  /* --max-size: 400px;
  height: 33%;
  width: 33%;
  max-width: 200px;
  max-height: 200px; */
  /* background-color: #61dafb; */
  color: #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 2px solid;
  border-image: linear-gradient(45deg, rgb(2, 0, 128), #61dafb) 1;
  box-sizing: border-box;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));

}

.container {
  display: grid;
  /* width: 600px;
  height: 600px; */
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.5em;
  gap: 1em;
  grid-template-rows: 70px 70px 70px;
  /* max-width: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* gap: 2px; */
}

button {
  color: #fff;
  background: rgb(2, 0, 128);
  border: 2px solid #83d0cb;
  padding: 2px;
  
}

